#presentation {
    margin-bottom: 5%;
}


#presention > .container > img {
    width: 20%;
}

#presentation > .container > .row > .col-12,.col-md-6,.col-lg-4:nth-child(2) > img {
    width: 50%;
}

#presentation > .container {
    display: flex;
    justify-content: space-around;
    border: 1px solid salmon;
    border-radius: 10px;
    background-color: salmon;
}