#presentation {
    color: white;
    .presentation-container {
        background-color:salmon;
        padding: 3rem;
        border-radius: 15px;
        overflow: hidden;
        .presentation-phone {
            width: 75%;
            margin-bottom: -10rem;
        }
    }
}